<footer class="footer mt-auto bg-light py-3 py-lg-4">
  <div class="container d-flex flex-row mb-4" style="gap: 96px;">
    <div class="ms-4">
      <h4 style="color: #363c40;">Contribution</h4>
      <div class="small">
        <a
          class="d-block"
          href="https://github.com/oasis-open/csaf-documentation/"
          target="_blank"
        >
          Submit your contribution
        </a>
        <a
          class="d-block"
          href="https://github.com/oasis-open/csaf-documentation/blob/main/CONTRIBUTING.md"
          target="_blank"
        >
          How to contribute
        </a>
      </div>
    </div>

    <div class="">
      <h4 style="color: #363c40;">Mailing lists</h4>
      <div class="small">
        <a
          class="d-block"
          href="https://groups.oasis-open.org/communities/community-home?communitykey=a9ed8d9b-d946-45d8-9ea1-0190504fc6f2"
          target="_blank"
        >
          Subscribe csaf-announcements
        </a>
        <a
          class="d-block"
          href="https://groups.oasis-open.org/communities/community-home?CommunityKey=3720cda2-3056-4183-a759-018f5aa7b5f2"
          target="_blank"
        >
          Subscribe csaf-comment
        </a>
      </div>
    </div>
  </div>

  <div class="container text-center" style="color: 363c40;">
    © Copyright 2025 OASIS CSAF TC - All Rights Reserved
  </div>
</footer>
