<footer class="footer mt-auto bg-light py-3 py-lg-4">
  <div class="container d-flex flex-row py-2 mb-4" style="gap: 96px;">
    <div class="ms-4">
      <h4 style="color: #363c40;">Contribute</h4>
      <div class="small">
        <a
          class="d-block"
          href="https://github.com/oasis-open/csaf-documentation/blob/master/CONTRIBUTING.md#fork-and-pull-collaboration-model"
          target="_blank"
        >
          To this website
        </a>
        <a
          class="d-block"
          href="/specification/"
          target="_self"
        >
          To CSAF Specification
        </a>
      </div>
    </div>

    <div>
      <h4 style="color: #363c40;">Mailing lists</h4>
      <div class="small">
        <a
          class="d-block"
          href="https://groups.oasis-open.org/communities/community-home?communitykey=a9ed8d9b-d946-45d8-9ea1-0190504fc6f2"
          target="_blank"
        >
          Subscribe to csaf-announcements
        </a>
        <a
          class="d-block"
          href="https://groups.oasis-open.org/communities/community-home?CommunityKey=3720cda2-3056-4183-a759-018f5aa7b5f2"
          target="_blank"
        >
          Subscribe to csaf-comment
        </a>
      </div>
    </div>
  </div>

  <div class="container text-center" style="color: 363c40;">
    © Copyright 2025 OASIS CSAF TC - All Rights Reserved
  </div>
</footer>
