{{ define "main" }}
<main class="event md bg-light">
  <!-- #region: Title -->
  {{ $bg := .Params.render.images.header }}
  <section {{ if $bg }}style="background: url('{{ $bg }}') no-repeat center/cover;"{{ else }}class="blue-gradient"{{ end }}>
    <div class="w-80 d-flex flex-column gap-2 py-7 py-lg-9 fw-normal text-white">
      <h1>{{ .Title }}</h1>
      {{ with .Params.subtitle }}
        <h2 class="mt-2">{{ . }}</h2>
      {{ end }}
      <!-- #region: Event dates -->
      {{ with .Params.event.dates }}
        <p class="mb-0">{{ . }}</p>
      {{ else }}
        {{ $dirParts := split .File.Dir "/" }}
        {{ $year := index $dirParts (sub (len $dirParts) 2) }}
        <p class="card-text">
          ⚠️ Missing <code>event dates</code> in front matter.<br>
          Please open: <code>content/{{ .File.Path }}</code><br>
          And add dates in the top section. For example:<br>
          <code>params:<br>&nbsp;&nbsp;event:<br>&nbsp;&nbsp;&nbsp;&nbsp;dates: 'December 5–7, {{ $year }}'</code>
        </p>
      {{ end }}
      <!-- #endregion -->
      <!-- #region: Event location -->
      {{ with .Params.event.location_long }}
        <p>{{ . }}</p>
      {{ else }}
        <p class="card-text">
          ⚠️ Missing <code>event location</code> in front matter.<br>
          Please open: <code>content/{{ .File.Path }}</code><br>
          And add location in the top section. For example:<br>
          <code>params:<br>&nbsp;&nbsp;event:<br>&nbsp;&nbsp;&nbsp;&nbsp;...<br>&nbsp;&nbsp;&nbsp;&nbsp;location_long: 'Berlin, Germany'</code><br>
          or<br>
          <code>params:<br>&nbsp;&nbsp;event:<br>&nbsp;&nbsp;&nbsp;&nbsp;...<br>&nbsp;&nbsp;&nbsp;&nbsp;location_long: 'online'</code>
        </p>
      {{ end }}
      <!-- #endregion -->
    </div>
  </section>
  <!-- #endregion -->

  <!-- #region: Content -->
  <section class="event-description w-80 py-4 py-xl-5 px-4 px-lg-5 bg-white">
    {{ .Content }}
  </section>
  <!-- #endregion -->
</main>
{{ end }}

