.page-specifications {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include media-breakpoint-up(lg)  {
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-template-rows: auto auto;
      gap: 2rem;
      align-items: start;
    }
  }

  &__headers {
    @include media-breakpoint-up(lg)  {
      grid-column: 1 / -1;
      grid-row: 1;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @include media-breakpoint-up(lg)  {
      flex-direction: column;
      gap: 1rem;
      grid-column: 1;
      grid-row: 2;
    }

    .btn {
      font-weight: 550;

      &-outline-muted {
        border-color: lighten($muted, 35%) !important;
      }
    }
  }

  &__text {
    font-weight: 450;

    @include media-breakpoint-up(lg)  {
      grid-column: 2;
      grid-row: 2;
    }

    p {
      line-height: 1.25;
    }
  }
}

