.bg-gray-400 {
  background-color: $gray-400;
}

.blue-gradient {
  background: linear-gradient(135deg, #004383, #212529);
  color: #fff;
}

.light-blue-gradient {
  background: linear-gradient(135deg, #a6d3fc, #5498d8);
}
