.shortcode-youtube {
  position: relative;
  display: block;
  max-width: 960px;

  &::before, &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    pointer-events: none;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &::before {
    background-image: url(../icons/youtube-button.svg);
    background-size: auto 64px;
    background-position: center center;

    @include media-breakpoint-down(sm) {
      background-size: auto 40px;
    }

    @include media-breakpoint-only(sm) {
      background-size: auto 48px;
    }

    @include media-breakpoint-only(md) {
      background-size: auto 56px;
    }
  }

  &:hover::before {
    background-image: url(../icons/youtube-button-hover.svg);
  }

  &::after {
    $background-size: 20px;

    background-image: url(../icons/youtube-logo.svg);
    background-size: auto $background-size;
    background-position: calc(100% - #{$background-size} / 2) calc(100% - #{$background-size} / 2);

    @include media-breakpoint-up(md) {
      $shift-left: 15px;
      $shift-down: 10px;
      $background-size: 32px;

      width: calc(100% - #{$shift-left});
      height: calc(100% - #{$shift-down});
      right: $shift-left;
      bottom: $shift-down;

      background-size: auto $background-size;
      background-position: calc(100% - #{$background-size} / 2) calc(100% - #{$background-size} / 2);
    }
  }

  img {
    display: block;
    width: auto;
    max-width: 100%;
  }
}
