{{ define "main" }}
<main class="container py-5">
  <div class="page-specifications__container">
    <!-- #region: Headers -->
    <div class="page-specifications__headers">
      <h3 class="text-tertiary fw-semibold mb-2 lh-1">CSAF</h3>
      <h1 class="fs-2 fw-bold text-dark lh-1">Specifications</h1>
    </div>
    <!-- #endregion -->

    <!-- #region: Buttons -->
    <div class="page-specifications__buttons">
      <a href="https://docs.oasis-open.org/csaf/csaf/v2.0/os/csaf-v2.0-os.html"

         class="btn btn-primary">
        CSAF 2.0 Standard
      </a>
      <a
        href="https://docs.oasis-open.org/csaf/csaf/v2.1/csaf-v2.1.html"
        class="btn btn-outline-primary"
      >
        CSAF 2.1 (Upcoming)
      </a>
      <a href="https://docs.oasis-open.org/csaf/csaf-cvrf/v1.2/csaf-cvrf-v1.2.html"

         class="btn btn-outline-muted">
        CVRF 1.2 (Legacy)
      </a>
    </div>
    <!-- #endregion -->

    <!-- #region: Text -->
    <div class="page-specifications__text">
      <p>
        This page lists the Common Security Advisory Framework (CSAF) specifications past, present, and future.
      </p>
      <p>
        To see a current list of enhancements you can visit our
        <a href="https://github.com/oasis-tcs/csaf">GitHub repository</a>.
      </p>
      <p>
        <a href="https://www.oasis-open.org/join-a-tc/">
          Click here
        </a>
        for information about becoming an OASIS member and joining a technical committee (TC).
      </p>
      <p>
      All feedback and suggestions from non members are welcome and encouraged!
      Write us via the comment mailing list (see footer).
    </div>
    <!-- #endregion -->
  </div>
</main>
{{ end }}
