{{ define "main" }}
<!--
  SPDX-SnippetCopyrightText: 2023 OASIS CSAF TC
  SPDX-License-Identifier: LicenseRef-OASIS-CSAF-TC-License
-->
<main class="event md bg-light">
  <section class="event-container event-description py-4 py-xl-5 px-4 px-lg-5 bg-white">
    <!-- #region: Header and image -->
    <div class="row align-items-center flex-lg-row-reverse gx-0">

      <div class="col-12 col-lg-5 px-0 mb-2 mb-lg-0">
        <div class="image-wrapper">
          <img src="/events/webinar/csaf-vex-942x362.png" alt="CSAF VEX Webinar">
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="text-wrapper">
          <h1>Webinar: Using CSAF to Respond to Supply Chain Vulnerabilities at Large Scale</h1>
        </div>
      </div>
    </div>
    <!-- #endregion -->
    {{ .Content }}
    <!-- #region: Header and image -->
    <h2>Watch the webinar</h2>
    <div class="webinar-links-block">
      <a class="webinar-link" href="https://www.youtube.com/watch?v=z6Psfopy55E">WEBINAR RECORDING</a>
      <a class="webinar-link" href="//localhost:1313/presentations/CSAF_WEBINAR_DEC_2022.pdf">PRESENTATION SLIDES</a>
    </div>
    <!-- #endregion -->
    <!-- #region: Header and image -->
    <div class="d-flex justify-content-center">
      <img src="/events/webinar/webinar-with-mouse-640x196.jpg" alt="CSAF Webinar">
    </div>
    <!-- #endregion -->
  </section>
</main>
{{ end }}
