@font-face {
   font-family: 'Darker Grotesque';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///Users/osantos/Documents/GitHub/csaf-documentation/fonts/Darker Grotesque/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Darker Grotesque';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///Users/osantos/Documents/GitHub/csaf-documentation/fonts/Darker Grotesque/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Darker Grotesque';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///Users/osantos/Documents/GitHub/csaf-documentation/fonts/Darker Grotesque/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Darker Grotesque';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/osantos/Documents/GitHub/csaf-documentation/fonts/Darker Grotesque/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Darker Grotesque';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///Users/osantos/Documents/GitHub/csaf-documentation/fonts/Darker Grotesque/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Darker Grotesque';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///Users/osantos/Documents/GitHub/csaf-documentation/fonts/Darker Grotesque/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Darker Grotesque';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/osantos/Documents/GitHub/csaf-documentation/fonts/Darker Grotesque/regular.ttf') format('truetype');
}
